.container {
  margin-top: 7%;
}
.header-profil h1,
h4 {
  text-align: center;
}
.header-profil h1 {
  font-size: 60px;
  font-weight: bold;
}
.header-profil h4 {
  font-size: 20px;
  margin-top: -12px;
  font-weight: 300;
  margin-bottom: 10%;
}

.card img {
  background-color: red;
}
